.Container {
  width: 20vw;
  height: 20vw;

  margin: 0 0.5rem;

  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 3.3vw;
  aspect-ratio: 1/1;
}

.Container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
